{% extends 'ifmobile_pages/base.html' %}

{% block content %}
<div class="container">
    <div class="row header" >
        <h2 style="text-align:center;color:green">OPERADORA</h2>
        <table class="myTable table table-striped" >  
            <thead>  
            <tr>
                <th>idOperadora</th>
                <th>Nome</th>
            </tr>
        </tr>  
        </thead>  
        <tbody>  
            {% for operadora in lista_operadoras %}
            <tr>
                <td>{{ operadora.idoperadora }}</td>
                <td>{{ operadora.nome }}</td>
            </tr>
            {% endfor %}
        </tbody>  
    </table>  
</div>
</div>
{% endblock %}