{% extends 'ifmobile_pages/base.html' %}

{% block content %}
<div class="container">
    <div class="row header" >
        <h2 style="text-align:center;color:green">PLANO_TARIFA</h2>
        <table class="myTable table table-striped" >  
            <thead>  
            <tr>
                <th>idPlano</th>
                <th>idTarifa</th>
            </tr>
        </tr>  
        </thead>  
        <tbody>  
            {% for plano_tarifa in lista_plano_tarifa %}
            <tr>
                <td>{{ plano_tarifa.idplano.get_idplano }}</td>
                <td>{{ plano_tarifa.idtarifa.get_idtarifa }}</td>
            </tr>
            {% endfor %}
        </tbody>  
    </table>  
</div>
</div>
{% endblock %}