{% extends 'ifmobile_pages/base.html' %}

{% block content %}
<div class="container">
    <div class="row header" >
        <h2 style="text-align:center;color:green">PLANO</h2>
            <table class="myTable table table-striped" >  
                <thead>  
                <tr>
                    <th>idPlano</th>
                    <th>Descrição</th>
                    <th>fMinIn</th>
                    <th>fMinOut</th>
                    <th>Valor</th>
                </tr>
            </tr>  
            </thead>  
            <tbody>  
                {% for plano in lista_plano %}
                <tr>
                    <td>{{ plano.idplano }}</td>
                    <td>{{ plano.descricao }}</td>
                    <td>{{ plano.fminin }}</td>
                    <td>{{ plano.fminout }}</td>
                    <td>{{ plano.valor }}</td>
                </tr>
                {% endfor %}
            </tbody>  
        </table>  
    </div>

</div>
{% endblock %}