{% extends 'ifmobile_pages/base.html' %}

{% block content %}
<div class="container">
    <div class="row header" >
        <h2 style="text-align:center;color:green">CLIENTE_CHIP</h2>
            <table class="myTable table table-striped" >  
                <thead>  
                <tr>
                    <th>idCliente</th>
                    <th>idNumero</th>
                </tr>
            </tr>  
            </thead>  
            <tbody>  
                {% for cliente_chip in lista_cliente_chip %}
                <tr>
                    <td>{{ cliente_chip.idcliente.get_idcliente }}</td>
                    <td>{{ cliente_chip.idnumero.get_idnumero }}</td>
                </tr>
                {% endfor %}
            </tbody>  
        </table>  
    </div>
</div>
{% endblock %}