{% extends 'ifmobile_pages/base.html' %}

{% block content %}
<div class="container">
    <div class="row header" >
        <h2 style="text-align:center;color:green">FATURA</h2>
            <table class="myTable table table-striped" >  
                <thead>  
                <tr>
                    <th>Referência</th>
                    <th>idNumero</th>
                    <th>valor_Plano</th>
                    <th>tot_Min_Int</th>
                    <th>tot_Min_Ext</th>
                    <th>tx_Min_Exced</th>
                    <th>tx_Roaming</th>
                    <th>Total</th>
                    <th>Pago</th>
                </tr>
            </tr>  
            </thead>  
            <tbody>  
                {% for fatura in lista_fatura %}
                <tr>
                    <td>{{ fatura.referencia }}</td>
                    <td>{{ fatura.idnumero.get_idnumero }}</td>
                    <td>{{ fatura.valor_plano }}</td>
                    <td>{{ fatura.tot_min_int }}</td>
                    <td>{{ fatura.tot_min_ext }}</td>
                    <td>{{ fatura.tx_min_exced }}</td>
                    <td>{{ fatura.tx_roaming }}</td>
                    <td>{{ fatura.total }}</td>
                    <td>{{ fatura.pago }}</td>
                </tr>
                {% endfor %}
            </tbody>  
        </table>  
    </div>

</div>
{% endblock %}