{% extends 'ifmobile_pages/base.html' %}

{% block content %}
<div class="container">
    <div class="row header" >
        <h2 style="text-align:center;color:green">ESTADO</h2>
        <table class="myTable table table-striped" >  
            <thead>  
            <tr>
                <th>UF</th>
                <th>Nome</th>
                <th>DDD</th>
                <th>idRegião</th>
            </tr>
        </tr>  
        </thead>  
        <tbody>  
            {% for estado in lista_estado %}
            <tr>
                <td>{{ estado.uf }}</td>
                <td>{{ estado.nome }}</td>
                <td>{{ estado.ddd }}</td>
                <td>{{ estado.idregiao.get_idregiao }}</td>
            </tr>
            {% endfor %}
        </tbody>  
    </table>  
</div>

</div>
{% endblock %}