{% extends 'ifmobile_pages/base.html' %}

{% block content %}
<div class="container">
    <div class="row header" >
        <h2 style="text-align:center;color:green">LIGACAO</h2>
        <table class="myTable table table-striped" >  
            <thead>  
            <tr>
                <th>dataLig</th>
                <th>chipEmissor</th>
                <th>ufOrigem</th>
                <th>chipReceptor</th>
                <th>ufDestino</th>
                <th>Duracão</th>
            </tr>
        </tr>  
        </thead>  
        <tbody>  
            {% for ligacao in lista_ligacao %}
            <tr>
                <td>{{ ligacao.datalig }}</td>
                <td>{{ ligacao.chip_emissor.get_idnumero }}</td>
                <td>{{ ligacao.uforigem.get_uf }}</td>
                <td>{{ ligacao.chip_receptor.get_idnumero }}</td>
                <td>{{ ligacao.ufdestino.get_uf }}</td>
                <td>{{ ligacao.duracao }}</td>
            </tr>
            {% endfor %}
        </tbody>  
    </table>  
</div>

</div>

{% endblock %}